
body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.header-list ul{
  float: right;
  background-color: #333;
  width: 140px;
}
.header-list li a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
